{% extends "flightseats/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <div class="center">
                <button type="submit">Login</button>
            </div>
        </div>

    </form>
    <div class="border-top pt-3">
        <br>
        <fieldset style="font-weight:bold">Don't have an account?<br>
            <a href="{% url 'register' %}">
                <button class="button2">Register here</button>
            </a>
        </fieldset>
    </div>

</div>
<br>
{% endblock content %}
