{% extends "flightseats/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border-bottom mb-4">Sign up</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <div class="center">
                <button type="submit" style="width: 85px">Register</button>
            </div>
        </div>

    </form>
    <div class="border-top pt-3">
        <br>
        <fieldset style="font-weight:bold">Already have an account?<br>
            <a href="{% url 'login' %}">
                <button class="button2">Login here</button>
            </a>
        </fieldset>
    </div>

</div>

{% endblock content %}
