{% extends "flightseats/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border-bottom mb-4">Sign up</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <div class="center">
                <button type="submit" style="width: 75px">Register</button>
            </div>
        </div>

    </form>
    <div class="border-top pt-3">
        <small class="text_muted">Already have an account? Login here <a class="ml-2" href="{% url 'login' %}">Login</a>
        </small>
    </div>

</div>

{% endblock content %}
