{% extends "flightseats/base.html" %}
{% block content %}
{% for flight in flights_bookable %}
<a href="{% url  'booking'  %}"><h1> From {{ flight.origin_airport }} to
    {{ flight.dest_airport }} </h1></a>
<p>Operated by {{ flight.airline }} on {{ flight.day }}.{{ flight.month }}.{{ flight.year }}
    at {{ flight.departure }}</p>
{% endfor %}

{% for flight in flights_rest %}
<a style="color:grey"><h1> From {{ flight.origin_airport }} to
    {{ flight.dest_airport }} </h1></a>
<p>Operated by {{ flight.airline }} on {{ flight.day }}.{{ flight.month }}.{{ flight.year }}
    at {{ flight.departure }}</p>
{% endfor %}
{% endblock content %}
