<!DOCTYPE html>
<html lang="en">

<head>
    <title>AngstHasenFlights</title>
</head>
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'img/style.css' %}">

<body>
<div class="Section_top">
    <div class="outer">

        <div class="content">
            <div>
                <br><br> <br><br> <br><br> <br><br>

                <h1 style="text-align:center; font-size:2vw; ">Welcome to</h1>
                <img src= "/../static/img/images/angsthase2.png" alt="angsthase" width="333" height ="110">
                                <h1 style="text-align:center; text-shadow: 2px 4px #262626;">AngStHasenFlights</h1>
                <a href="{% url 'login' %}" style="font-size: 1vw; color:black; " :>LOGIN</a>
            </div>

        </div>
    </div>
</div>
</body>

</html>

{% endblock content %}
