{% extends "flightseats/base.html" %}
{% block content %}


<div style="font-size:40px; font-weight: bold" id="rap">
    <table class="table_on_the_left">
        {% for seat in seats %}
        <tr>
            <td>{{ seat.column_a }}</td>
        </tr>
        {% endfor %}
    </table>
    &nbsp;
    <table class="table_on_the_right">
        {% for seat in seats %}
        <tr>
            <td> {{ seat.column_b }}&nbsp;</td>
            <td> {{ seat.column_c }}&nbsp;</td>
            <td> {{ seat.column_d }}&nbsp;</td>
            <td>&nbsp;|&ensp;|&nbsp;</td>
            <td> {{ seat.column_e }}&nbsp;</td>
            <td> {{ seat.column_f }}&nbsp;</td>
            <td> {{ seat.column_g }}&nbsp;</td>
        </tr>
        {% endfor %}
    </table>

    <form action="" method="POST">
        {% csrf_token %}
    <label for="seat_choice">Please enter your Seat</label>
    <input type="text" id="seat_choice" name="seat_choice"><br><br>
    <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>
{% endblock content %}
