{% extends "flightseats/base.html" %}
{% block content %}


<div>
    <table class="table_on_the_left" style="font-size:35px; font-weight: bold" id="rap">
        {% for seat in seats %}
        <tr>
            <td>{{ seat.column_a }}</td>
        </tr>
        {% endfor %}
    </table>
    &nbsp;
    <table class="table_on_the_right" style="font-size:35px; id="rap">
        {% for seat in seats %}
        <tr>
            <td> {{ seat.column_b }}&nbsp;</td>
            <td> {{ seat.column_c }}&nbsp;</td>
            <td> {{ seat.column_d }}&nbsp;</td>
            <td>&nbsp;|&ensp;|&nbsp;</td>
            <td> {{ seat.column_e }}&nbsp;</td>
            <td> {{ seat.column_f }}&nbsp;</td>
            <td> {{ seat.column_g }}&nbsp;</td>
        </tr>
        {% endfor %}
    </table

</div>
 <br/>
    <br/>
<p style = "font-weight:bold"> Please enter your desired seat: </p>
<form action="" method="POST" style = "font-weight:normal">
        {% csrf_token %}
    <input type="number" id="seat_choice_row" name="seat_choice_row" required oninvalid="this.setCustomValidity('Please enter valid seat row.')" oninput="this.setCustomValidity('')" min = '1' max = '10' step = '1' placeholder="row"><br><br>
    <input type = "text" name = "seat_choice" id="seat_choice" maxlength = "1" pattern = "[A-F]" required oninvalid="this.setCustomValidity('Please enter valid seat letter.')" oninput="this.setCustomValidity('')" placeholder="seat letter" list="choices">
      <datalist id="choices">
        <option value="A">
        <option value="B">
        <option value="C">
        <option value="D">
        <option value="E">
        <option value="F">
      </datalist>
    <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
  <input id = "subm" type="submit" value="Submit" class="btn btn-secondary">
</form>

<p></p>

<form>
    <input type="button" value="Go back!" onclick="history.back()">
</form>
<p></p>

{% endblock content %}
