{% extends "./base.html" %}

{% block content %}
<h1 style="font-size: 28px; text-align:center"> Welcome to the statistics page!
</h1>

<p style="font-weight: bold">All possible seats:</p>
<p>{{ all_seats }}
    <br>
    <br>&emsp;=> Count: {{ count_all }}</p>
<br><br>

{% if free_seats == "" %}
<p>There are no free seats!</p>
{% else %}
<p style="font-weight: bold">Free seats:</p>
<p>{{ free_seats }}
    <br>
    &emsp;<br>&emsp;=> Count: {{ count_free }}</p>
{% endif %}
<br><br>

<p style="font-weight: bold">Booked seats:</p>
{% if booked_seats == "" %}
<p>There are no booked seats!</p>
{% else %}
<p>{{ booked_seats }}
    <br>
    <br>&emsp;=> Count: {{ count_book }}
</p>
{% endif %}
<br><br>

<p style="font-weight: bold">Proportion of free seats:</p>
{% if ratio_free == "" %}
<p>0.0%</p>
{% else %}
<p>{{ ratio_free }}</p>
{% endif %}
<br><br>

<p style="font-weight: bold">Proportion of booked seats:</p>
{% if ratio_book == "" %}
<p>0.0%</p>
{% else %}
<p>{{ ratio_book }}</p>
{% endif %}


<br> <br>
<p style="font-weight: bold;">Users list:</p>
<table style="margin-bottom: 10px">
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
    <th>E-Mail</th>
    {% for user in user_data %}
    <tr>
        {% for x in user %}
        <td>{{ x }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&emsp;=> Count: {{ count_users }}</p>

<div style="text-align:center; ">
    <button type="button;" style="cursor: pointer; height: 35px; width:160px; font-size: 16px">Download statistics
    </button>
</div>
{% endblock %}
